.products__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    width: 80%;
    margin: 2rem auto;
}

.products__heading{
    text-align: center;
    
}

.card__image {
    width: 100%;
    overflow: hidden;
}

.card__image img{
    /* height: 100%; */
    max-width: 100%;
    /* display: block;
    margin: auto; */
}

.card__container {
    border: 1px solid rgb(59, 58, 58);
    border-radius: 10px;
}

